name: CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v1
      with:
        version: '10.x'
    - run: npm run install
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    - run: npm publish
      env:
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
